<div class='container-body'>
    <div class="page-header">
        <img src="/img/icons/active/il.png" class="img-responsive center-block" alt="Insteon">
    </div>

    <div class="container pull-left">

    <div class="page-header">
        <h2><i class="fa fa-lock fa-3x primary"></i> Login <small>Enter Your Insteon Email and Password.</small></h2>
    </div>
    <form class="form-group" action="/" method="get">
      <fieldset>

        <div>
          <div class="form-group">
            <label for="username">Username</label>
            <input id='username' class="form-control" type="text" name="UserName" data-val="true" data-val-required="UserName is required." placeholder="Username" value="">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id='password' class="form-control" type="password" name="device[name]" data-val="true" data-val-required="Password is required." name="Password" placeholder="Password" value="">
          </div>

        </div>
          <button type="submit" class="btn btn-primary">Authorize Access To Your Acount</button>
      </fieldset>
    </form>

        <hr>

        <h5>When you provide your account information, Not Determined will have access to perform the following functions:</h5>

        <table class="bullets">

            <tr>
                <td>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                </td>
                <td>
                    <b >Account Details</b>
                    <p>Create, edit, and delete account details</p>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                </td>
                <td>
                    <b>Configuration Details</b>
                    <p>Create, edit, and delete configuration details</p>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                </td>
                <td>
                    <b>Messaging</b>
                    <p>Send and receive all messages from your account</p>
                </td>
            </tr>

        </table> <!--bulltes-->


                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div><!-- /.modal container -->